.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s linear;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s linear;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s linear;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 3s;
}

.ex-5-square:hover {
    transform: scale(2);

}

.ex-5-square:active {
    transform: scale(0.5);

}

.ex-6-img,
.ex-7-img,
.ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: 2s linear;
}

.ex-7-img:hover {
    filter: blur(0.5);
    filter: sepia(0.5);
}

.ex-8-img {
    transition: 2s linear;
}

.ex-8-img:hover {
    border-radius: 30px 30px;
    transform: border 2;
    filter: blur(0.5);
    filter: sepia(0.5);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 2s linear;
}

.ex-9-img:hover {
    border-radius: 30px 30px;
    transform: scale(1.5);
    border-radius: 30px 30px;

    filter: blur(0.5);
    filter: sepia(0.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover {
    font-size: 60px;
    animation: rotation-2 1.5s infinite linear;
}

@keyframes rotation-2 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.ex-12-button:hover .ex-12-top-white {
    animation: rotation-3 5s linear;

}

@keyframes rotation-3 {
    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }

}

.ex-12-button:hover .ex-12-bottom-white {
    animation: rotation-4 5s linear;

}

@keyframes rotation-4 {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }

}

.ex-13-button:hover .ex-13-top-white {
    animation: rotation-5 3s forwards 3;

}

@keyframes rotation-5 {
    0% {
        left: 0%;
    }

    25% {
        top: -10px;
        left: calc(100% - 30px);
    }

    50% {
        left: calc(100% - 30px);
        top: calc(100% - 10px);
    }

    75% {
        top: calc(100% - 10px);
        left: calc(0% - 30px);
    }
    
    100% {
        left: calc(0% - 30px);
        top: -10px;

    }



}

.ex-13-button:hover .ex-13-bottom-white {
    animation: rotation-6 3s forwards 3;

}

@keyframes rotation-6 {
    0% {
        right: 0%;
    }

    25% {
        bottom: -10px;
        right: calc(100% - 30px);
    }

    50% {
        right: calc(100% - 30px);
        bottom: calc(100% - 10px);
    }

    75% {
        bottom: calc(100% - 10px);
        right: calc(0% - 30px);
    }
    
    100% {
        right: calc(0% - 30px);
        bottom: -10px;

    }



}

.ex-12-button,
.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white,
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #000000;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white,
.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #000000;
    width: 60px;
    height: 20px;
}